<p id="notice"><%= notice %></p>

<%= link_to 'Back', show_calls_path %>

<h1>Attributes of selected show call</h1>

<table>
	<thead>
		<tr>
			<th><strong>Title</strong></th>
			<th><strong>Detail</strong></th>
   </thead>

   <tbody>
    <% @updated_attributes = @show_call.attributes.except!("id", "created_at", "updated_at") %>
    
    <% @updated_attributes.each do |k,v| %>
    <tr>
     <td><%= k %></td>
     <td><%= v %></td>
   </tr>
   <% end %>
   
   
 </tbody>
</table> 

<br>

<%= link_to 'Back', show_calls_path %>
